
div.character_token {
  position: absolute;
  height: 75%;
  width: 75%;
}

div.imperial_noble_token {
  background-image: url('../images/imperial_noble_token.gif');
}

div.highlighted_creature {
  border: 2px solid green;
}
