
div.character_token {
  position: absolute;
  height: 75%;
  width: 75%;
}

div.magnanimous_swordsman_token {
  background-image: url('../images/magnanimous_swordsman_token.gif');
}

div.highlighted_creature {
  border: 2px solid green;
}
