#control_bar {
	position: fixed;
	left: 25%;
	top: 20px;
	width: 50%;
    z-index: 5;
    
	background: grey;
    height: 50px;
    
    border: 5px solid blue;
}

#spawn_room_button {
    background: red;
    height: 30px;
    width: 100px;
    text-align: center;
    margin: auto;
}

#spawned_room_anchor {
  position: fixed;
  left: 45%;
  top: 40%;
  z-index: 5;
}

/*There will only be one of them*/
.spawned_room {
  position: absolute;
}

#rotate_room_button {
    position: fixed;
    left: 45%;
    top: 25%;
    
    width: 10%;
    height: 5%;
    z-index: 5;
    
    border: 2px solid blue;
    background: red;
    text-align: center;
    margin: auto;
    
    display: none;
}


#dungeon_map {
	border: 1px solid;
}

