div.dungeon_room_rotate_0, div.dungeon_room_rotate_90, div.dungeon_room_rotate_180, div.dungeon_room_rotate_270 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid blue;
}

div.connection_node_overlay {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

div.highlighted_connection {
  border: 2px solid blue;
}

div.corridor_room_rotate_0, div.corridor_room_rotate_180 {
  height: 167px;
  width: 400px;
}

div.corridor_room_rotate_90, div.corridor_room_rotate_270 {
  height: 400px;
  width: 167px;
}

div.corridor_room_rotate_0 {
  background-image: url('images/corridor_white_0.gif');
}

div.corridor_room_rotate_90 {
  background-image: url('images/corridor_white_90.gif');
}

div.corridor_room_rotate_180 {
  background-image: url('images/corridor_white_180.gif');
}

div.corridor_room_rotate_270 {
  background-image: url('images/corridor_white_270.gif');
}

div.corridor_node_rotate_0, div.corridor_node_rotate_90, div.corridor_node_rotate_180,
div.corridor_node_rotate_270 {
  position: absolute;
  border: 2px solid red;
}

div.corridor_node_rotate_0, div.corridor_node_rotate_180 {
  height: 35%;
  width: 13.5%;
}

div.corridor_node_rotate_90, div.corridor_node_rotate_270 {
  height: 13.5%;
  width: 35%;
}

div.corridor_node_col_1_rotate_0, div.corridor_node_col_6_rotate_180 {
  left: 6.25%;
}

div.corridor_node_col_1_rotate_90, div.corridor_node_col_6_rotate_270 {
  top: 6.25%;
}

div.corridor_node_col_2_rotate_0, div.corridor_node_col_5_rotate_180 {
  left: 21%;
}

div.corridor_node_col_2_rotate_90, div.corridor_node_col_5_rotate_270 {
  top: 21%;
}

div.corridor_node_col_3_rotate_0, div.corridor_node_col_4_rotate_180 {
  left: 35%;
}

div.corridor_node_col_3_rotate_90, div.corridor_node_col_4_rotate_270 {
  top: 35%;
}

div.corridor_node_col_4_rotate_0, div.corridor_node_col_3_rotate_180 {
  left: 50%;
}

div.corridor_node_col_4_rotate_90, div.corridor_node_col_3_rotate_270 {
  top: 50%;
}

div.corridor_node_col_5_rotate_0, div.corridor_node_col_2_rotate_180 {
  left: 65%;
}

div.corridor_node_col_5_rotate_90, div.corridor_node_col_2_rotate_270 {
  top: 65%;
}

div.corridor_node_col_6_rotate_0, div.corridor_node_col_1_rotate_180 {
  left: 80%;
}

div.corridor_node_col_6_rotate_90, div.corridor_node_col_1_rotate_270 {
  top: 80%;
}

div.corridor_node_row_1_rotate_0, div.corridor_node_row_2_rotate_180 {
  top: 15%;
}

div.corridor_node_row_1_rotate_90, div.corridor_node_row_2_rotate_270 {
  left: 51%;
}

div.corridor_node_row_1_rotate_180, div.corridor_node_row_2_rotate_0 {
  top: 51%;
}

div.corridor_node_row_1_rotate_270, div.corridor_node_row_2_rotate_90 {
  left: 15%;
}

div.t_corridor_room_rotate_0, div.t_corridor_room_rotate_180 {
  height: 167px;
  width: 400px;
}

div.t_corridor_room_rotate_90, div.t_corridor_room_rotate_270 {
  height: 400px;
  width: 167px;
}

div.t_corridor_room_rotate_0 {
  background-image: url('images/t_corridor_0.gif');
}

div.t_corridor_room_rotate_90 {
  background-image: url('images/t_corridor_90.gif');
}

div.t_corridor_room_rotate_180 {
  background-image: url('images/t_corridor_180.gif');
}

div.t_corridor_room_rotate_270 {
  background-image: url('images/t_corridor_270.gif');
}

div.t_corridor_node_rotate_0, div.t_corridor_node_rotate_90, div.t_corridor_node_rotate_180,
div.t_corridor_node_rotate_270 {
  position: absolute;
  border: 2px solid red;
}

div.t_corridor_node_rotate_0, div.t_corridor_node_rotate_180 {
  height: 35%;
  width: 13.5%;
}

div.t_corridor_node_rotate_90, div.t_corridor_node_rotate_270 {
  height: 13.5%;
  width: 35%;
}

div.t_corridor_node_col_1_rotate_0, div.t_corridor_node_col_6_rotate_180 {
  left: 6.25%;
}

div.t_corridor_node_col_1_rotate_90, div.t_corridor_node_col_6_rotate_270 {
  top: 6.25%;
}

div.t_corridor_node_col_2_rotate_0, div.t_corridor_node_col_5_rotate_180 {
  left: 21%;
}

div.t_corridor_node_col_2_rotate_90, div.t_corridor_node_col_5_rotate_270 {
  top: 21%;
}

div.t_corridor_node_col_3_rotate_0, div.t_corridor_node_col_4_rotate_180 {
  left: 35%;
}

div.t_corridor_node_col_3_rotate_90, div.t_corridor_node_col_4_rotate_270 {
  top: 35%;
}

div.t_corridor_node_col_4_rotate_0, div.t_corridor_node_col_3_rotate_180 {
  left: 50%;
}

div.t_corridor_node_col_4_rotate_90, div.t_corridor_node_col_3_rotate_270 {
  top: 50%;
}

div.t_corridor_node_col_5_rotate_0, div.t_corridor_node_col_2_rotate_180 {
  left: 65%;
}

div.t_corridor_node_col_5_rotate_90, div.t_corridor_node_col_2_rotate_270 {
  top: 65%;
}

div.t_corridor_node_col_6_rotate_0, div.t_corridor_node_col_1_rotate_180 {
  left: 80%;
}

div.t_corridor_node_col_6_rotate_90, div.t_corridor_node_col_1_rotate_270 {
  top: 80%;
}

div.t_corridor_node_row_1_rotate_0, div.t_corridor_node_row_2_rotate_180 {
  top: 15%;
}

div.t_corridor_node_row_1_rotate_90, div.t_corridor_node_row_2_rotate_270 {
  left: 51%;
}

div.t_corridor_node_row_1_rotate_180, div.t_corridor_node_row_2_rotate_0 {
  top: 51%;
}

div.t_corridor_node_row_1_rotate_270, div.t_corridor_node_row_2_rotate_90 {
  left: 15%;
}
