#control_bar {
	position: fixed;
	left: 25%;
	top: 20px;
	width: 50%;
    z-index: 5;
    
	background: grey;
    height: 50px;
    
    border: 5px solid blue;
}

#spawn_room_button {
    background: red;
    height: 30px;
    width: 100px;
    text-align: center;
    margin: auto;
}


#dungeon_map {
	border: 1px solid;
}

div.corridor_room {
    position: absolute;
	height: 167px;
	width: 400px;
	/* border: 5px solid blue;*/
	background-image: url('images/corridor_white.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

div.corridor_node {
	position: absolute;
	height: 35%;
	width: 13.5%;
	border: 2px solid red;
}

div.corridor_node_col_1 {
	left: 6.25%;
}

div.corridor_node_col_2 {
	left: 21%;
}

div.corridor_node_col_3 {
	left: 35%;
}

div.corridor_node_col_4 {
	left: 50%;
}

div.corridor_node_col_5 {
	left: 65%;
}

div.corridor_node_col_6 {
	left: 80%;
}

div.corridor_node_row_1 {
	top: 15%;
}

div.corridor_node_row_2 {
	top: 51%;
}